.App {
  text-align: center;
}

.container {
  margin-top: 3rem;
  align-items: center;
}

.exchange-card {
  display: flex;
  border-bottom: 1px solid #dee2e6;
  margin-bottom: 0.5rem;
  margin-top: 0.5rem;
}

.country-flag {
  width: 4rem;
  height: 4rem;
}

.button-1 {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.button-2 {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

th,
td {
  min-width: 8rem;
  overflow: hidden;
}
